.main-temperature {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 128px;
    font-weight: 500;
    margin-top: 40px;
}

#main-weather-location {
    font-size: 1.8em;
    font-weight: 600;
}

.main-min-max-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.min-temperature {
    margin-right: 16px;
}

.max-temperature {
    margin-left: 16px;
}

.forecast-title {
    font-size: 1.3em;
    font-weight: 700;
}

.forecast-container {
    margin-top: 40px;
}

.inner-forecast-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.forecast-box {
    margin: 0;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 1rem;
    flex: 1;
}

.forecast-temp {
    font-weight: 700;
}

.inner-forecast-loading {
    width: 100%;
}

.forecast-box p {
    margin: 0;
}

.seven-day-container {
    max-width: 1200px;
}

.other-boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: end;
    gap: 20px;
    background-color: black;
    border-radius: 10px;
}

.box {
    flex: 1;
    color: #ffe142;
    text-align: center;
}

.box-data {
    font-weight: 600;
    margin-top: 8px;
}

.box-text {
    font-weight: 400;
    font-size: 1em;
}