@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body, html {
  min-height: 100svh;
  background: #ffe142;
  color: #000;  
  margin-right: auto;
  margin-left: auto;
}

body {
  padding: 1rem;
  max-width: 900px;
}

.fa {
  line-height: normal;
}