@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body, html {
  min-height: 100svh;
  margin-right: 16px;
  margin-left: 16px;
background: linear-gradient(180deg, rgba(9,145,244,1) 0%, rgba(14,191,238,1) 100%);
  color: white;
}