.ml-auto a {
    color: white;
    margin-top: 8px;
    margin-right: 16px;
}

.navbar-toggle {
    background-color: white;
}

.navbar-search-suggestion {
    padding: .5rem;
}

.navbar-search-suggestion:hover {
    color: black;
    cursor: pointer;
}