.ml-auto a {
    color: white;
    margin-top: 8px;
    margin-right: 16px;
}

.navbar-toggle {
    background-color: white;
}

.navbar-search-suggestion {
    background-color: blue;
    border: 1px solid red;
}

.navbar-search-suggestion:hover {
    color: black;
    cursor: pointer;
}